.cardDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardItem:first-child {
  width: calc(100% / 3);
}
.cardItem:last-child {
  width: calc(100% / 3 * 2);
  padding-left: 20px;
}
.cardImage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.cardInform {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.delive {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  line-height: 20px;
  margin-bottom: 12px;
}
.minOrder, .number {
  font-weight: 700;
  margin-bottom: 20px;
}
.minOrder span {
  font-size: 18px;
  font-weight: 300;
}
.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 3px solid #0E5798;
    padding: 15px;
    margin-bottom: 20px;
}
.price span {
    font-weight: 900;
    color: #0E5798;
    font-size: 21px;
}
