.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.headingPrimary,
.headingPrimaryInverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.headingPrimary {
    color: #000;
}

.headingPrimaryInverse {
    color: #fff;
}

.headingPrimaryInverse h2 {
    margin-bottom: 10px;
}

.headingPrimaryInverse p {
    font-size: 18px;
    line-height: 24px;
}

.headingSecondary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

.headingSecondary h2 {
    font-weight: 500;
}

.headingSecondary p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 10px;
}

.headingSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #3f51b5;
    color: #fff;
}

.headingSidebar h3 {
    text-align: center;
    color: #fff;
}

.description, .descriptionInverce {
    font-size: 18px;
    line-height: 26px;
    /* text-indent: 1.5em; */
    margin-bottom: 20px;
}

.descriptionInverce {
    color: #fff;
}

#goLeft {
    left: 0;
}

#goRight {
    right: 0;
}

.MenuItem {
    color: black;
  }
  